# Archivos de Gradle y construcción
.gradle/
build/

# Configuración local (rutas del SDK, etc.)
local.properties

# Archivos de Log y del Sistema Operativo
*.log
.DS_Store

# Archivos generados por Android Studio e IntelliJ
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
output-metadata.json
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Archivos de firma (¡NUNCA los subas!)
*.jks
*.keystore

# Archivos de Google Services (si usas Firebase)
google-services.json

# Perfilado de Android
*.hprof
